<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tầm nhìn sứ mệnh</title>
    <div th:replace="components/head :: head"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>

<body>
    <header th:replace="components/header"></header>
    <main class="px-[116px] py-8">
        <nav class="text-sm breadcrumbs text-gray-500 mb-6">
            <ul>
                <li><a href="/" class="hover:underline text-blue-600">Trang chủ</a></li>
                <li>TẦM NHÌN - SỨ MỆNH Modish Motion: NÂNG TẦM THƯƠNG HIỆU VIỆT</li>
            </ul>
        </nav>
        <div class="mt-4">
            <img th:src="@{/images/footer/gioithieu1.png}" alt="" class="w-full rounded-lg shadow-md">
        </div>
        <section class="space-y-4 mt-4">
            <p class="text-lg italic font-medium text-gray-700">
                Bắt đầu từ thương hiệu thời trang Hi5 ra đời trong năm 2009, trải qua chặng đường phát triển đầy khó khăn, Hi5 được đổi tên thành Modish Motion vào năm 2014 với ước mơ gây dựng một thương hiệu thời trang hàng đầu thế giới.
            </p>
            <p class="text-gray-800">
                Từ đó trở đi Modish Motion lớn mạnh không ngừng, đến năm 2016 Modish Motion đã có 38 cửa hàng, chỉ sau 2 năm vào năm 2018 Modish Motion đã có 73 cửa hàng. Đến năm 2019 Modish Motion đã có 82 cửa hàng và tính đến thời điểm hiện tại Modish Motion đã mở rộng được hơn 260 cửa hàng trên toàn quốc.
            </p>
        </section>
        <div class="mt-4">
            <img th:src="@{/images/footer/gioithieu2.png}" alt="" class="w-full rounded-lg shadow-md">
        </div>

        <section class="py-8 space-y-4">
            <div class="space-y-2">
                <h2 class="text-2xl font-semibold text-gray-800">SỨ MỆNH CỦA Modish Motion</h2>
                <p class="text-lg text-gray-600">Make everyone look good, feel good</p>
            </div>
        
            <div class="space-y-2">
                <h2 class="text-2xl font-semibold text-gray-800">TẦM NHÌN CỦA Modish Motion</h2>
                <p class="text-lg text-gray-600">Everyday wear for everyone</p>
            </div>
        
            <div class="space-y-2">
                <h2 class="text-2xl font-semibold text-gray-800">NIỀM TIN CỦA Modish Motion</h2>
                <ul class="list-disc list-inside space-y-2 text-gray-700">
                    <li>Tất cả các khoản chi đều là chi phí, chỉ có chi cho khách hàng và nhân viên là không phí.</li>
                    <li>Tất cả những thành viên của Modish Motion đều đang nỗ lực hết sức và có năng lực để thực hiện mục tiêu chung.</li>
                    <li>Mỗi thành viên Modish Motion đều có thể thay đổi khi được trao niềm tin, ghi nhận, hướng dẫn và đào tạo.</li>
                </ul>
            </div>
        </section>
        <div class="mt-4">
            <img th:src="@{/images/footer/gioithieu3.png}" alt="" class="w-full rounded-lg shadow-md">
        </div>

        <section class="space-y-4 py-8">
            <p>Modish Motion mong muốn mang đến cho toàn bộ khách hàng trên khắp mọi miền tổ quốc Việt Nam những sản phẩm thời trang do chính tay người Việt làm ra. Không phân biệt tầng lớp, không phân biệt giàu nghèo, những khách hàng chưa bao giờ được trải nghiệm dịch vụ mua sắm vượt ngoài mong đợi, ai cũng sẽ được chào đón, tôn trọng khi đến với Modish Motion.</p>
            <p>Chính vì vậy, Modish Motion dày công nghiên cứu chất liệu sản phẩm và cho ra mắt những dòng sản phẩm tối ưu cả về giá cả và chất lượng mang đến cho khách hàng. Cùng với đó, Modish Motion luôn dành phần lớn thời gian để đào tạo văn hóa phục vụ cho toàn bộ nhân viên. Mỗi nhân viên sẽ là 1 đại sứ thương hiệu, mỗi nhân viên sẽ là 1 hình mẫu về văn hóa phục vụ của Modish Motion và trao giá trị tốt nhất đến từng khách hàng.</p>
        </section>
    
        
        <section class="space-y-4">
            <h2 class="text-2xl font-semibold">GIÁ TRỊ CỐT LÕI CỦA Modish Motion</h2>
            <p class="italic">Ở Modish Motion, chúng tôi luôn gìn giữ 5 Giá Trị Cốt Lõi để mọi bước đi đều thêm vững chắc và giàu giá trị.</p>
            <div class="space-y-4">
                <h3 class="text-2xl font-semibold">1. Customer centric</h3>
                <ul class="list-disc list-inside pl-1">
                    <li>Đặt sự hài lòng của khách hàng là ưu tiên số 1 trong mọi suy nghĩ và hành động.</li>
                </ul>
            </div>
            <div class="space-y-4">
                <h3 class="text-2xl font-semibold">2. Ownership & Autonomy</h3>
                <ul class="list-disc list-inside pl-1 space-y-1">
                    <li>Sở hữu mục tiêu công ty, đội nhóm, cá nhân.</li>
                    <li>Chủ động tìm kiếm nguyên lý và giải pháp.</li>
                    <li>Suy nghĩ và hành động vì lợi ích và phát triển tổ chức.</li>
                </ul>
            </div>
            <div class="space-y-4">
                <h3 class="text-2xl font-semibold">3. Integrity</h3>
                <ul class="list-disc list-inside pl-4 space-y-1">
                    <li>Trung thực về tiền bạc, hàng hóa, tài sản.</li>
                    <li>Làm đúng, làm đủ theo thiết kế.</li>
                    <li>Giữ lời hứa với khách hàng, đồng nghiệp, đối tác.</li>
                    <li>Khi đã nỗ lực hết sức mà thấy nguy cơ không thể giữ lời thì ngay lập tức thông tin cho những người có liên quan, tìm hiểu tác động, dọn dẹp hậu quả và đưa ra lời hứa mới.</li>
                </ul>
            </div>
            
            <div class="space-y-4">
                <h3 class="text-2xl font-semibold">4. Growth mindset – Cầu tiến</h3>
                <ul class="list-disc list-inside pl-4 space-y-1">
                    <li>Không ngừng học tập và tự hoàn thiện.</li>
                    <li>Sẵn sàng thử nghiệm phương pháp mới, chấp nhận thất bại và tiếp tục hành động.</li>
                    <li>Luôn nhìn thấy chủ đích tích cực trong mọi tình huống.</li>
                </ul>
            </div>
            
            <div class="space-y-4">
                <h3 class="text-2xl font-semibold">5. Good Relationship – Mối quan hệ tốt đẹp</h3>
                <ul class="list-disc list-inside pl-4 space-y-1">
                    <li>Hào phóng, sẵn sàng cho đi và giúp đỡ mọi người.</li>
                    <li>Đặt mình vào vị trí người nói để lắng nghe trọn vẹn và không thành kiến.</li>
                    <li>Sẵn sàng đóng góp và dẫn dắt sự đóng góp một cách kịp thời, trực tiếp và xây dựng.</li>
                    <li>Luôn ghi nhận thành quả hoặc nỗ lực dù chưa có thành quả.</li>
                </ul>
            </div>
            
        </section>

        <section class="space-y-4 mt-8">
            <h2 class="text-2xl font-semibold">HÀNH TRÌNH CỦA Modish Motion QUA CÁC NĂM</h2>
        
            <div class="space-y-4">
                <h3 class="text-xl font-semibold">Năm 2014: Thương hiệu Modish Motion ra đời</h3>
                <ul class="list-disc list-inside pl-4 space-y-1">
                    <li>25/4/2014: Khai trương cửa hàng Modish Motion đầu tiên tại 22 Chùa Bộc – Hà Nội.</li>
                    <li>14/7/2014: Khai trương cửa hàng Modish Motion thứ 2 tại Chí Linh.</li>
                    <li>26/10/2014: Khai trương cửa hàng Modish Motion thứ 3 tại Kẻ Sặt.</li>
                    <li>20/10/2014: Khai trương cửa hàng Modish Motion thứ 4 tại Bắc Giang.</li>
                    <li>Năm 2014 cũng là năm với sự góp mặt của các thành viên: Chị Thanh, chị Huế, chị Ngân, chị Thêu, chị Nguyệt... đến giờ vẫn đang đồng hành cùng Modish Motion.</li>
                    <li>Hoạt động đào tạo, chia sẻ trở thành một phần văn hóa không thể thiếu của Modish Motion.</li>
                </ul>
            </div>
        
            <div class="space-y-4">
                <h3 class="text-xl font-semibold">Năm 2015: Modish Motion tìm được văn phòng “mơ ước”</h3>
                <ul class="list-disc list-inside pl-4 space-y-1">
                    <li>09/4/2015: CEO Nguyễn Việt Hòa vận mơ về một văn phòng khang trang, tràn đầy cảm hứng cho đội ngũ Modish Motion. Và rồi đội ngũ Modish Motion cũng đã biến mong muốn về văn phòng ấy thành hiện thực. Văn phòng “Ước mơ” đã được tìm thấy và chính thức khai trương tại 45 Hồng Quang – TP Hải Dương.</li>
                    <li>Modish Motion đón nhận thêm các thành viên cốt cán, gồm: anh Hiếu, chị Mận, chị Trang, chị Hạnh...</li>
                    <li>Năm 2015: Thương hiệu Modish Motion đã có 12 cửa hàng...</li>
                </ul>
            </div>

            <p class="font-bold italic">Với sứ mệnh đưa Modish Motion thành thương hiệu thời trang toàn cầu, đội ngũ các thành viên Modish Motion cam kết sẽ mang lại sự hài lòng tuyệt đối về sản phẩm cũng như dịch vụ đến tận tay khách hàng.</p>
        </section>
    </main>
    <footer th:replace="components/footer"></footer>
    <div th:replace="/components/lucide_icons :: lucide_icon"></div>
</body>

</html>