<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quy tắc sử dụng Cookie của Modish Motion</title>
    <div th:replace="components/head :: head"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>

<body>
<!-- Header -->
<header th:replace="components/header"></header>

    <!-- Main Content Wrapper -->
    <main class="container px-[116px] py-8">

        <!-- Breadcrumb -->
        <nav class="text-sm breadcrumbs text-gray-500 mb-6">
            <ul>
                <li><a href="/" class="hover:underline text-primary">Trang chủ</a></li>
                <li>Chính sách sử dụng Cookies</li>
            </ul>
        </nav>

        <section class="mb-8 space-y-4">
            <h2 class="text-2xl font-bold mb-4">QUY TẮC SỬ DỤNG COOKIE CỦA Modish Motion</h2>
            <p>Quý khách được thông báo rằng Modish Motion sử dụng cookie để gia tăng trải nghiệm mua sắm trên trang web
                www.Modish Motion.vn. Bằng cách truy cập trang web, bạn đã đồng ý cho Modish Motion sử dụng cookies trên thiết bị của
                mình. <br>Chính sách Cookie của Modish Motion đưa ra dưới đây để xác định rõ quyền hạn và tính minh bạch trong
                việc sử dụng các dữ liệu khi khách hàng truy cập vào website. Bao gồm hai nội dung chính:</p>
                <ul class="list-disc list-inside space-y-2">
                    <li>Cookie là gì và mục đích của việc xử lý thông tin khi bạn duyệt trang web;</li>
                    <li>Quyền của bạn đối với cookie và các công cụ đo lường khác được sử dụng trên website của Modish Motion.
                    </li>
                </ul>
        </section>

        <section class="mb-8 space-y-4">
            <h2 class="text-2xl font-bold mb-4">COOKIE LÀ GÌ?</h2>
            <p>Cookies, hoặc các công cụ đo lường tương tự, là dữ liệu được máy chủ sử dụng để gửi thông tin trạng thái
                đến trình duyệt của người dùng và thiết bị của người dùng xác nhận và gửi lại thông tin về máy chủ của
                trang web.
                <br>Thông tin trạng thái này bao gồm nhiều yếu tố, ví dụ: số ID của phiên truy cập, ngôn ngữ, điện thoại
                hay máy tính, hệ điều hành Android hay IOS, v.v...
            </p>
            <p>Cookies được sử dụng để lưu trữ thông tin trạng thái ngắn hạn trong thời gian bạn truy cập các trang khác
                nhau trên cùng một trang web hoặc khi bạn trở lại lướt web sau một khoảng thời gian không sử dụng.</p>
        </section>

        <section class="mb-8 space-y-4">
            <h2 class="text-2xl font-bold mb-4">CÁC COOKIE TRÊN TRANG WEB ĐƯỢC SỬ DỤNG ĐỂ LÀM GÌ?</h2>
            <p>Modish Motion sử dụng cookie và các công cụ đo lường khác, đặc biệt cho các mục đích chính sau:</p>

            <p class="font-bold">Cookies rất cần thiết để tạo điều kiện cho việc điều hướng trên Trang Web</p>
            <ul class="list-disc list-inside space-y-2">
                <li>Quản lý xác thực người dùng Internet và bảo mật liên quan và đảm bảo hoạt động đúng của mô-đun xác
                    thực;</li>
                <li>Tối ưu hóa trải nghiệm người dùng và tạo điều kiện thuận lợi cho việc điều hướng, đặc biệt bằng cách
                    xác định "các tuyến kỹ thuật" điều hướng;</li>
                <li>Giữ lại thông tin theo đó người dùng Internet đã thấy biểu ngữ thông tin "cookie" được hiển thị và
                    tiếp tục</li>
                <li>Thực hiện các biện pháp bảo mật (ví dụ: khi bạn được yêu cầu đăng nhập lại nội dung hoặc dịch vụ sau
                    một thời gian nhất định hoặc để đảm bảo Trang web hoạt động đúng và bạn đang sử dụng các tính năng
                    kỹ thuật chính của nó như đo lường hiệu suất và điều hướng lỗi, quản lý phiên người dùng, v.v.).
                </li>

            </ul>

            <p class="font-bold">Cookies của các chức năng</p>
            <ul class="list-disc list-inside space-y-2">
                <li>Điều chỉnh Trang web theo tùy chọn hiển thị theo thiết bị của bạn (ngôn ngữ, tiền tệ, độ phân giải
                    hiển thị, hệ điều hành được sử dụng, cấu hình và cấu hình hiển thị của các trang web và vị trí của
                    nó, v.v.);</li>
                <li>Ghi nhớ một số thông tin nhất định mà bạn nhập trên Trang web để tạo điều kiện và cá nhân hóa trình
                    duyệt tiếp theo của bạn (đặc biệt là hiển thị tên và họ của người dùng Internet được xác định nếu
                    anh ta có tài khoản người dùng);</li>
                <li>Cho phép bạn truy cập vào không gian cá nhân của mình nhanh hơn bằng cách ghi nhớ số nhận dạng hoặc
                    dữ liệu mà bạn đã chỉ ra trước đó.</li>
            </ul>

            <p class="font-bold">Cookies được sử dụng để đo lường việc sử dụng Trang web của người dùng (đo lường đối
                tượng)</p>
            <ul class="list-disc list-inside space-y-2">
                <li>Những cookies này giúp chúng tôi hiểu các tương tác của bạn với Trang web (các trang được truy cập
                    nhiều nhất, các ứng dụng được sử dụng, v.v.); có thể được sử dụng để biên dịch thống kê hoặc để kiểm
                    tra các màn hình khác nhau nhằm cải thiện sự quan tâm và công thái học của các dịch vụ của chúng
                    tôi.</li>
            </ul>

            <p class="font-bold">Cookies liên kết</p>
            <ul class="list-disc list-inside space-y-2">
                <li>Những cookies này cho phép nhận dạng thông tin của bên thứ ba trên trang web đã chuyển hướng người
                    dùng (Ví dụ khi bạn ấn vào liên kết truy cập vào trang Shopee của Modish Motion trên website)</li>
            </ul>

            <p class="font-bold">Cookies của các mạng xã hội (được đặt bởi bên thứ ba)</p>
            <ul class="list-disc list-inside space-y-2">
                <li>Những cookie này cho phép bạn chia sẻ ý kiến của mình trên Trang web và chia sẻ nội dung trên các
                    mạng xã hội (ví dụ: "Chia sẻ" hoặc "Tôi thích" các nút ứng dụng từ các mạng xã hội).</li>
            </ul>

            <p>Khi bạn truy cập trang web Modish Motion lần đầu tiên, bạn sẽ được thông báo, bởi sự hiện diện của biểu ngữ thông
                tin trên trang chủ. Trong quá trình khách hàng sử dụng dịch vụ hoặc xem nội dung do Modish Motion cung cấp, chúng
                tôi tự động thu thập và lưu trữ một số thông tin trong nhật ký máy chủ. Những thông tin này bao gồm:</p>
            <ul class="list-disc list-inside space-y-2">
                <li>Các chi tiết về cách khách hàng sử dụng dịch vụ của Modish Motion chẳng hạn như truy vấn tìm kiếm.</li>
                <li>Địa chỉ giao thức Internet.</li>
                <li>Thông tin sự cố thiết bị như lỗi, hoạt động của hệ thống, cài đặt phần cứng, loại trình duyệt, ngôn
                    ngữ trình duyệt, ngày và thời gian bạn yêu cầu và URL giới thiệu.</li>
                <li>Cookie có thể nhận dạng duy nhất trình duyệt hoặc Tài khoản của khách hàng.</li>
            </ul>
            <p>
                Modish Motion cam kết các Cookies được cài đặt chỉ nhằm mục đích nâng cao trải nghiệm người dùng trong thời gian
                truy cập website, Modish Motion sẽ không lưu trữ bất kì thông tin cá nhân nào trừ khi bạn tự tay nhập vào trang
                web, ví dụ: Đăng kí tài khoản, nhập thông tin mua hàng, nhập Email nhận ưu đãi...
            </p>
            <p>
                Điều tất nhiên, các thông tin bạn nhập vào website sẽ được bảo mật an toàn tuyệt đối. Để tìm hiểu thêm,
                bạn có thể đọc <a href="#" class="text-primary font-bold">Chính sách bảo mật của Modish Motion</a>.
            </p>
        </section>

        <section class="mb-8 space-y-4">
            <h2 class="text-2xl font-bold mb-4">QUYỀN CỦA BẠN VỚI COOKIE TRÊN WEBSITE Modish Motion</h2>
            <p>
                Bạn có toàn quyền thay đổi cookie và các công cụ đo lường trên Website Modish Motion. Các Cookie sẽ được thông
                tin và lưu trữ trong phần cài đặt trình duyệt trên thiết bị, bạn có thể truy cập để quản lý, điều chỉnh
                hoặc loại bỏ tùy ý muốn.
            </p>
            <p>
                Để quản lý cookie và lựa chọn của bạn, cấu hình của mỗi trình duyệt là khác nhau. Nó được mô tả trong
                menu trợ giúp của trình duyệt của bạn, nó sẽ cho bạn biết cách thay đổi tùy chọn cookie của bạn.
            </p>
            <ul class="list-disc list-inside space-y-2">
                <li><strong><a
                            href="https://support.microsoft.com/en-us/windows/manage-cookies-in-microsoft-edge-view-allow-block-delete-and-use-168dab11-0753-043d-7c16-ede5947fc64d">Đối
                            với Internet Explorer</a></strong></li>
                <li><strong><a href="https://support.apple.com/vi-vn/105082">Đối với Safari</a></strong></li>
                <li><strong><a href="https://support.google.com/chrome/answer/95647?hl=vi&hlrm=vi">Đối với
                            Chrome</a></strong></li>
                <li><strong><a
                            href="https://support.mozilla.org/vi/kb/cookie-thong-tin-ma-cac-trang-web-luu-tru-tren-may-tinh-cua-ban">Đối
                            với Firefox</a></strong></li>
                <li><strong><a href="https://help.opera.com/en/latest/web-preferences/#cookies">Đối với
                            Opera</a></strong></li>
            </ul>
            <p>
                Bạn cũng hoàn toàn có thể sử dụng "Chế độ ẩn danh" của trình duyệt để truy cập Website Modish Motion, bằng cách
                này sẽ không có bất kì cookie nào có thể được cài đặt trên thiết bị.
            </p>
        </section>

    </main>
    <footer th:replace="components/footer"></footer>
    <div th:replace="/components/lucide_icons :: lucide_icon"></div>
</body>

</html>