<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chính sách giao nhận hàng online Modish Motion</title>
    <div th:replace="components/head :: head"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>

<body>
    <!-- Header -->
    <header th:replace="components/header"></header>
    <main class="container px-[116px] py-8">
        <nav class="text-sm breadcrumbs text-gray-500 mb-6">
            <ul>
                <li><a href="/" class="hover:underline text-blue-600">Trang chủ</a></li>
                <li>Chính sách giao nhận hàng online Modish Motion</li>
            </ul>
        </nav>

        <section>
            <p class="font-bold text-base italic">Để đảm bảo quyền lợi cho Quý khách hàng trong quá trình mua sắm, Modish Motion
                gửi bạn những thông tin về chính sách giao nhận hàng & thanh toán online khi đặt mua qua các kênh:
                website, facebook, zalo...như sau:</p>
        </section>

        <!-- Chính sách chung Section -->
        <section class="space-y-4 py-8">
            <h2 class="text-2xl font-semibold">1. Chính sách chung về Giao - Nhận hàng tại Modish Motion</h2>
            <div class="pl-4 space-y-4">
                <div class="space-y-4">
                    <h3 class="font-semibold text-xl">a. Phí ship khi mua hàng online tại Modish Motion</h3>
                    <ul class="list-disc list-inside space-y-2">
                        <li>Đơn hàng &gt; 498k: Miễn phí vận chuyển.</li>
                        <li>Đơn hàng &lt; 498k: Phí ship toàn quốc là 20.000đ</li>
                    </ul>
                </div>
                <div class="space-y-4">
                    <h3 class="font-semibold text-xl">b. Thời gian nhận hàng</h3>
                    <p>Khách hàng khi đã được xác nhận đơn hàng đặt mua trên Website <a href="https://Modish Motion.vn"
                            class="text-blue-600 hover:underline">https://Modish Motion.vn</a>, Facebook, Zalo... và các kênh
                        thông tin chính thức khác của Modish Motion sẽ nhận được sản phẩm trong vòng từ 3-5 ngày làm việc (tùy
                        từng khu vực nhận hàng). Nhân viên chăm sóc tại Modish Motion sẽ liên hệ với bạn trong thời gian sớm nhất
                        để có thể để hoàn tất thủ tục liên quan.</p>
                    <p>Đối với các đơn hàng đang phục hồi hoặc sản phẩm in ấn khác, thời gian sản xuất và giao hàng có
                        thể sẽ lâu hơn. Modish Motion sẽ liên hệ và thông báo cụ thể về thời gian giao - nhận đến Quý khách.</p>
                </div>
            </div>
        </section>

        <!-- Quyền lợi Section -->
        <section class="space-y-4">
            <h2 class="text-2xl font-semibold">2. Quyền lợi về việc Thử và Nhận đổi khi mua sắm Online</h2>
            <p>Để mang đến trải nghiệm mua sắm thuận lợi và thoải mái nhất cho khách hàng, Modish Motion luôn xây dựng những
                chính sách thân thiện nhất. Theo đó, tất cả khách hàng đặt mua sản phẩm của Modish Motion bằng phương thức mua
                hàng online đều được hưởng những quyền lợi như sau:</p>
            <ul class="list-disc list-inside pl-4 space-y-2">
                <li>Khách hàng được xem và thử đồ trước khi thanh toán.</li>
                <li>Nếu thấy sản phẩm không vừa, không ưng ý, khách hàng hoàn toàn có thể trả lại và không cần thanh
                    toán bất cứ chi phí phát sinh nào.</li>
            </ul>
        </section>

        <!-- Đổi trả Section -->
        <section class="space-y-4">
            <h2 class="text-2xl font-semibold">3. Với khách hàng đã thanh toán và muốn đổi trả</h2>
            <ul class="list-disc list-inside pl-4 space-y-2">
                <li>Khách hàng có nhu cầu khiếu nại, đổi trả sản phẩm do lỗi của Modish Motion có thể liên hệ qua Hotline 1800
                    2086 để được hỗ trợ sớm nhất.</li>
                <li>Tư vấn viên sẽ hướng dẫn khách hàng các bước cần thiết để tiến hành trả đổi trả.</li>
                <li>Lưu ý: Khách hàng được hỗ trợ đổi hàng với trường hợp đã mua nhưng không đúng với kích cỡ cơ thể.
                    Khách hàng có thể tiến hành đổi trả online hoặc đổi trả trực tiếp tại hệ thống cửa hàng của Modish Motion
                    trên toàn quốc. Hàng hóa khi đổi trả cần được giữ nguyên tem mác và chưa qua sử dụng, giặt tẩy.</li>
            </ul>
            <p>Thông tin chi tiết và cụ thể về Chính sách đổi trả vui lòng tham khảo <a href="chinhsachdoitra.html"
                    class="text-blue-600 hover:underline">tại đây</a></p>
        </section>

        <!-- Conclusion -->
        <section>
            <p>Hy vọng, những thông tin trên đây có thể giúp cho trải nghiệm mua sắm online của bạn tại Modish Motion được an tâm
                và thuận tiện hơn!</p>
            <p class="font-bold mt-4">Modish Motion - LOOK GOOD. FEEL GOOD</p>
        </section>
    </main>
    <footer th:replace="components/footer"></footer>
    <div th:replace="/components/lucide_icons :: lucide_icon"></div>
</body>

</html>