<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng size chuẩn cho các quần áo Modish Motion</title>
    <div th:replace="components/head :: head"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>

<body>
<!-- Header -->
<header th:replace="components/header"></header>
<main class="container px-[116px] py-8">
    <!-- Breadcrumb Navigation -->
    <nav class="text-sm breadcrumbs text-gray-500 mb-6">
        <ul>
            <li><a href="/" class="hover:underline text-blue-600">Trang chủ</a></li>
            <li>Bảng size chuẩn</li>
        </ul>
    </nav>

    <!-- Introduction Section -->
    <section class="mb-8">
        <p class="italic font-semibold text-lg">
            Khi đi mua quần áo thì chọn được món đồ chuẩn size vừa vặn luôn là đẹp nhất. Thấu hiểu điều đó, trên mỗi
            sản phẩm của Modish Motion đều có bảng tính size số giúp khách hàng dễ dàng tìm được size số phù hợp với chiều
            cao và cân nặng. Cùng tìm hiểu bạn nhé!
        </p>
        <p class="text-gray-700">
            Mỗi người chúng ta có những đặc điểm hình dáng cơ thể khác nhau, vì vậy size số mà bảng tính gợi ý có
            thể chưa phù hợp với một số người. Để chắc chắn xác định chính xác size số quần áo của mình tại Modish Motion bạn
            có thể tham khảo thêm bảng thông số dưới đây nhé!
        </p>
        <p class="font-semibold mt-4">Thông số chọn size theo cân nặng và chiều cao tham khảo theo bảng:</p>
    </section>

    <!-- Image Section -->
    <section class="space-y-4">
        <div class="mt-4">
            <img th:src="@{/images/footer/bangsize1.png}" alt="Bảng size áo nam" class="w-full rounded-lg shadow-md">
            <img th:src="@{/images/footer/bangsize2.png}" alt="Bảng size áo nam" class="w-full rounded-lg shadow-md">
            <img th:src="@{/images/footer/bangsize3.png}" alt="Bảng size áo nam" class="w-full rounded-lg shadow-md">
            <img th:src="@{/images/footer/bangsize4.png}" alt="Bảng size áo nam" class="w-full rounded-lg shadow-md">
            <img th:src="@{/images/footer/bangsize5.png}" alt="Bảng size áo nam" class="w-full rounded-lg shadow-md">
            <img th:src="@{/images/footer/bangsize6.png}" alt="Bảng size áo nam" class="w-full rounded-lg shadow-md">
        </div>
        <p class="font-bold" style="color: #FFA500;">
            Truy cập website Modish Motion.VN mỗi ngày để nhận được những ưu đãi mua sắm hấp dẫn nhé!
        </p>

    </section>z

    <footer th:replace="components/footer"></footer>
    <div th:replace="/components/lucide_icons :: lucide_icon"></div>
</main>
</body>

</html>