<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="components/head :: head"></div>
</head>

<body data-theme="light">
    <div id="toast" class="toast toast-end">
        <div id="alert-toast" class="hidden alert">
            <span id="toast-message"></span>
        </div>
    </div>
    <header th:replace="components/header"></header>
    <div class="bg-gray-100">
        <main th:fragment="content" class="max-w-screen-xl min-h-screen px-4 py-12 pt-24 mx-auto">
            <div id="cart-data">
                <div class="p-8 py-4 mb-4 bg-white rounded-md shadow-sm">
                    <h2 class="text-2xl font-semibold">Giỏ hàng</h2>
                </div>
                <div class="flex gap-8">
                    <!-- Cart Items Section -->
                    <div class="w-2/3 space-y-6">

                        <!-- Progress Bar for Free Shipping -->
                        <div class="p-4 bg-white rounded-md shadow-sm">
                            <span id="free-shipping-message" class="block mb-2 text-sm text-gray-700">
                                Mua thêm 369K nữa để nhận Miễn phí vận chuyển
                            </span>
                            <progress id="shipping-progress" class="w-full progress progress-warning" value="0"
                                max="100"></progress>
                        </div>

                        <!-- Cart Items Container where items are dynamically injected -->
                        <div id="empty-cart-message" class="p-4 bg-white rounded-md shadow-sm ">
                            <img th:src="@{/images/cart/empty_cart.svg}" class="w-[200px] mx-auto mb-8" />
                            <p class="text-center text-gray-500">Giỏ hàng của bạn đang trống</p>
                            <a href="/" class="flex items-center mx-auto mt-3 text-white btn btn-warning w-fit">Tiếp tục
                                mua sắm</a>
                        </div>
                        <!-- Add this inside the Cart Items Section -->
                        <div class="flex items-center gap-2 p-4 bg-white rounded-md shadow-sm">
                            <input type="checkbox" id="check-all"
                                class="self-center text-blue-500 checkbox checkbox-md">
                            <label for="check-all" class="text-sm font-semibold text-gray-700"> Chọn/bỏ chọn tất
                                cả</label>
                        </div>
                        <div id="cart-items">

                        </div>
                    </div>

                    <!-- Order Summary Section -->
                    <div class="w-1/3 p-6 rounded-md shadow-sm bg-gray-50 h-fit">
                        <h3 class="mb-4 text-xl font-semibold">Chi tiết đơn hàng</h3>
                        <div class="space-y-2">
                            <p class="flex justify-between text-gray-700">
                                <span>Tổng giá trị sản phẩm:</span>
                                <span id="total-amount" class="font-semibold">— đ</span>
                            </p>
                            <p class="flex justify-between text-gray-700">
                                <span>Vận chuyển:</span>
                                <span id="shipping-fee" class="font-semibold">— đ</span>
                            </p>
                            <p class="flex justify-between mt-4 text-lg font-semibold text-gray-900">
                                <span>Tổng thanh toán:</span>
                                <span id="grand-total" class="font-semibold">— đ</span>
                            </p>
                        </div>
                        <button id="buy-button"
                            class="w-full py-2 mt-6 font-semibold text-white transition duration-300 bg-yellow-500 rounded-md hover:bg-yellow-600">
                            Mua hàng
                        </button>
                        <p class="mt-4 text-sm text-center text-gray-500">Chọn Voucher giảm giá ở bước tiếp theo</p>
                        <div class="flex flex-wrap justify-center gap-2 mt-4">
                            <img alt="" class="object-cover h-6" th:src="@{/images/detail_item/zalopay.webp}" />
                            <img alt="" class="object-cover h-6" th:src="@{/images/detail_item/visa-card.webp}" />
                            <img alt="" class="object-cover h-6" th:src="@{/images/detail_item/master-card.webp}" />
                            <img alt="" class="object-cover h-6" th:src="@{/images/detail_item/vnpay-qr.webp}" />
                            <img alt="" class="object-cover h-6" th:src="@{/images/detail_item/momo.webp}" />
                        </div>
                        <p class="mt-2 text-xs text-center text-gray-500">Đảm bảo thanh toán an toàn và bảo mật</p>

                    </div>
                </div>
            </div>
            <div th:id="cart-empty">

            </div>
        </main>
    </div>

    <footer th:replace="components/footer"></footer>
    <script type="module" src="/js/cartUI.js"></script>
    <div th:replace="/components/lucide_icons :: lucide_icon"></div>
</body>

</html>