<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <div th:replace="components/head :: head"></div>
    <title>Đăng nhập</title>
</head>
<body data-theme="light" class="flex items-center justify-center min-h-screen bg-cover bg-center relative bg-gradient-to-br from-blue-500 to-yellow-400 ">
<div  class="relative  flex w-full max-w-7xl bg-white/50 shadow-lg rounded-lg overflow-hidden px-8 py-10" style="height: 600px;">
    <div class="w-full md:w-1/2 flex items-center justify-center p-4 md:p-0">
        <img th:src="@{/images/login/logo.png}" class="w-full md:w-auto" alt="logo"/>
    </div>
    <div class="w-full md:w-1/2 p-4 md:p-8 overflow-y-auto">
        <div class="text-center mb-4">
            <div class="flex justify-center">
                <button id="login-tab" onclick="redirectToLogIn()" class="px-4 py-2 font-semibold text-gray-800 border-b-4 border-blue-500">Login</button>
                <button id="signup-tab" onclick="redirectToSignUp()" class="px-4 py-2 font-semibold text-gray-500">Sign Up</button>
            </div>
        </div>
        <div id="login-form">
            <form th:action="@{/loginrequest}" method="post" onsubmit="return validateLoginForm()"  class="space-y-4">
                <label class="input input-bordered flex items-center gap-2 mb-2 px-3 py-2">
                    <i data-lucide=user class="w-4 h-4 mr-2"></i>
                    <input type="text" id="username" name="username" class="grow" placeholder="Username"/>
                </label>
                <p id="usernameError" class="text-red-500 text-sm hidden">Vui lòng nhập tên đăng nhập hợp lệ.</p>
                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide="key" class="w-4 h-4 mr-2"></i>
                    <input type="password" id="password" name="password" class="grow" placeholder="Password"/>
                </label>
                <p id="passwordError" class="text-red-500 text-sm hidden">Mật khẩu phải có ít nhất 8 ký tự, bao gồm chữ hoa, chữ thường, và số.</p>

                <div class="text-right mb-4">
                    <a href="#" class="text-sm text-blue-500 hover:underline cursor-pointer">I forgot my password</a>
                </div>
                <button type="submit"
                        class="btn btn-warning flex items-center justify-center w-full px-4 py-2 text-gray-800 font-semibold border border-gray-300 rounded-full shadow-sm">
                    Log in
                </button>
                <div th:if="${errorMessage}" role="alert" class="alert alert-error mt-2">
                    <i data-lucide="badge-info" class="w-4 h-4 mr-2"></i>
                    <span th:text="${errorMessage}"></span>
                </div>
            </form>
            <div class="text-center mt-2">
                <div class="flex items-center my-4">
                    <div class="flex-grow border-t border-gray-300"></div>
                    <span class="text-gray-500 text-sm px-4">Or by</span>
                    <div class="flex-grow border-t border-gray-300"></div>
                </div>
                <div class="flex justify-center mt-4 space-x-4">
                    <button class="flex items-center justify-center w-full px-4 py-2 bg-white text-gray-800 font-semibold border border-gray-300 rounded-full shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400">
                        <img th:src="@{/svg/google.svg}" alt="Google logo" class="w-5 h-5 mr-3">
                        Continue with Google
                    </button>
                </div>
            </div>
            <div class="text-center mt-6">
                <p class="text-gray-500 text-sm">Don't have an account?</p>
                <a class="text-sm text-blue-500 hover:underline cursor-pointer"
                   onclick="redirectToSignUp()" >
                    Create an account
                </a>
            </div>
        </div>

        <div id="signup-form" class="hidden ">
            <form th:action="@{/signuprequest}" th:object="${userAccount}" method="post" onsubmit="return validateSignUpForm()">
                <div class="flex gap-4 mb-2">
                    <label class="input input-bordered flex items-center gap-2 grow">
                        <i data-lucide="folder-pen" class="w-4 h-4 mr-2"></i>
                        <input type="text" id="name" class="grow" th:field="*{name}" placeholder="Name" />
                    </label>

                    <label class="input input-bordered flex items-center gap-2 grow">
                        <i data-lucide=user class="w-4 h-4 mr-2"></i>
                        <input type="text" id="user-name" class="grow" th:field="*{username}" placeholder="Username" />
                    </label>
                </div>
                <p id="nameError" class="text-red-500 text-sm hidden">Họ và tên phải từ 2 đến 50 ký tự, chỉ chứa chữ cái và khoảng trắng.</p>
                <p id="signupUsernameError" class="text-red-500 text-sm hidden">Tên đăng nhập không hợp lệ.</p>
                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide="mail" class="w-4 h-4 mr-2"></i>
                    <input type="text" id="mail" class="grow" th:field="*{email}" placeholder="Email" />
                </label>
                <p id="emailError" class="text-red-500 text-sm hidden">Vui lòng nhập email hợp lệ (vd: example@domain.com).</p>
                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide="phone" class="w-4 h-4 mr-2"></i>
                    <input type="text" id="phone" class="grow" th:field="*{phoneNumber}" placeholder="Phone" />
                </label>
                <p id="phoneError" class="text-red-500 text-sm hidden">Số điện thoại không hợp lệ. Vui lòng nhập đúng định dạng (10 số).</p>
                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide="key" class="w-4 h-4 mr-2"></i>
                    <input type="password" id="signupPassword" class="grow" th:field="*{password}" placeholder="Password" />
                </label>
                <p id="signupPasswordError" class="text-red-500 text-sm hidden">Mật khẩu phải có ít nhất 8 ký tự, bao gồm chữ hoa, chữ thường, và số.</p>
                <div class="flex gap-4 mb-2">
                    <label class="input input-bordered flex items-center gap-2 mb-4 w-1/2">
                        <i data-lucide="bot" class="w-4 h-4 mr-2"></i>
                        <select id="gender" name="gender" th:field="*{gender}" class="w-full px-4 py-2  rounded-lg focus:outline-none">
                            <option value="false">Male</option>
                            <option value="true">Female</option>
                        </select>
                    </label>
                    <label class="input input-bordered flex items-center gap-2 grow w-1/2">
                        <i data-lucide="calendar" class="w-4 h-4 mr-2"></i>
                        <input type="date" id="dob" th:field="*{dob}" placeholder="DD/MM/YYYY"
                               class="grow" />
                    </label>
                </div>
                <button type="submit"
                        class="btn btn-warning flex items-center justify-center w-full px-4 py-2 mt-3 text-gray-800 font-semibold border border-gray-300 rounded-full shadow-sm"
                        onclick="checkSignup()">
                    Sign up
                </button>
            </form>
            <div class="text-center mt-2">
                <div class="flex items-center my-4">
                    <div class="flex-grow border-t border-gray-300"></div>
                    <span class="text-gray-500 text-sm px-4">Or by</span>
                    <div class="flex-grow border-t border-gray-300"></div>
                </div>
                <div class="flex justify-center mt-4 space-x-4">
                    <button class="flex items-center justify-center w-full px-4 py-2 bg-white text-gray-800 font-semibold border border-gray-300 rounded-full shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400">
                        <img th:src="@{/svg/google.svg}" alt="Google logo" class="w-5 h-5 mr-3">
                        Continue with Google
                    </button>
                </div>
            </div>
            <div class="text-center mt-6">
                <p class="text-gray-500 text-sm">Have an account?</p>
                <a class="text-sm text-blue-500 hover:underline cursor-pointer"
                   onclick="redirectToLogIn()">
                    Log in
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="/components/lucide_icons :: lucide_icon"></div>
<script>
    window.onload = function() {
        if (window.location.pathname === "/signup") {
            showSignUp();
        } else {
            showLogin();
        }
    };
    function  showLogin () {
        //if (event) event.preventDefault(); // Ngừng sự kiện mặc định
        document.getElementById('login-form').classList.remove('hidden');
        document.getElementById('signup-form').classList.add('hidden');
        document.getElementById('login-tab').classList.add('text-gray-800', 'border-b-4', 'border-blue-500');
        document.getElementById('login-tab').classList.remove('text-gray-500');
        document.getElementById('signup-tab').classList.remove('text-gray-800', 'border-b-4', 'border-blue-500');
        document.getElementById('signup-tab').classList.add('text-gray-500');
        document.title = "Đăng nhập";
    }

    function showSignUp () {
        // Thực thi hàm để hiển thị form đăng ký
        document.getElementById('signup-form').classList.remove('hidden');
        document.getElementById('login-form').classList.add('hidden');
        document.getElementById('signup-tab').classList.add('text-gray-800', 'border-b-4', 'border-blue-500');
        document.getElementById('signup-tab').classList.remove('text-gray-500');
        document.getElementById('login-tab').classList.remove('text-gray-800', 'border-b-4', 'border-blue-500');
        document.getElementById('login-tab').classList.add('text-gray-500');
        document.title = "Đăng ký tài khoản";
    }

    function redirectToSignUp() {
        // Gọi showSignUp trước khi thay đổi URL
        showSignUp();

        // Sử dụng history.pushState để thay đổi URL mà không tải lại trang
        history.pushState(null, '', '/signup');
    }
    function redirectToLogIn() {
        // Gọi showSignUp trước khi thay đổi URL
        showLogin();

        // Sử dụng history.pushState để thay đổi URL mà không tải lại trang
        history.pushState(null, '', '/login');
    }

    // Regex patterns
    const usernameRegex = /^[a-zA-Z0-9._-]{3,16}$/; // Tên đăng nhập: 3-16 ký tự, không có ký tự đặc biệt
    const passwordRegex = /^[A-Z][A-Za-z\d.,?#@]{7,}$/; // Mật khẩu: 8 ký tự, ít nhất 1 chữ hoa, 1 chữ thường, và 1 số
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Email hợp lệ
    const nameRegex = /^[a-zA-ZÀ-ỹ\s]{2,50}$/; // Họ và tên: 2-50 ký tự, chỉ chứa chữ cái và khoảng trắng
    const phoneRegex = /^[0-9]{10}$/; // Số điện thoại: 10-15 chữ số

    // Validate login form
    function validateLoginForm() {
        let isValid = true;

        // Validate username
        const username = document.getElementById('username').value;
        const usernameError = document.getElementById('usernameError');
        if (!usernameRegex.test(username)) {
            usernameError.classList.remove('hidden');
            isValid = false;
        } else {
            usernameError.classList.add('hidden');
        }

        // Validate password
        const password = document.getElementById('password').value;
        const passwordError = document.getElementById('passwordError');
        if (!passwordRegex.test(password)) {
            passwordError.classList.remove('hidden');
            isValid = false;
        } else {
            passwordError.classList.add('hidden');
        }

        return isValid;
    }

    // Validate signup form
    function validateSignUpForm() {
        let isValid = true;

        // Validate Name
        const name = document.getElementById('name').value;
        const nameError = document.getElementById('nameError');
        if (!nameRegex.test(name)) {
            nameError.classList.remove('hidden');
            isValid = false;
        } else {
            nameError.classList.add('hidden');
        }

        // Validate Phone
        const phone = document.getElementById('phone').value;
        const phoneError = document.getElementById('phoneError');
        if (!phoneRegex.test(phone)) {
            phoneError.classList.remove('hidden');
            isValid = false;
        } else {
            phoneError.classList.add('hidden');
        }

        // Validate Username
        const signupUsername = document.getElementById('user-name').value;
        const signupUsernameError = document.getElementById('signupUsernameError');
        if (!usernameRegex.test(signupUsername)) {
            signupUsernameError.classList.remove('hidden');
            isValid = false;
        } else {
            signupUsernameError.classList.add('hidden');
        }

        // Validate Email
        const email = document.getElementById('mail').value;
        const emailError = document.getElementById('emailError');
        if (!emailRegex.test(email)) {
            emailError.classList.remove('hidden');
            isValid = false;
        } else {
            emailError.classList.add('hidden');
        }

        // Validate Password
        const signupPassword = document.getElementById('signupPassword').value;
        const signupPasswordError = document.getElementById('signupPasswordError');
        if (!passwordRegex.test(signupPassword)) {
            signupPasswordError.classList.remove('hidden');
            isValid = false;
        } else {
            signupPasswordError.classList.add('hidden');
        }

        return isValid;
    }

</script>
</body>
</html>