<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <div th:replace="components/head :: head"></div>
    <title>Đăng nhập</title>
</head>
<body data-theme="light" class="flex items-center justify-center min-h-screen bg-cover bg-center relative bg-gradient-to-br from-blue-500 to-yellow-400 ">
<div  class="relative  flex w-full max-w-7xl bg-white/50 shadow-lg rounded-lg overflow-hidden px-8 py-10" style="height: 600px;">
    <div class="w-1/2 flex items-center">
        <img th:src="@{/images/login/logo.png}" alt="logo"/>
    </div>
    <div class="w-1/2 p-8 overflow-y-auto">
        <div class="text-center mb-4">
            <div class="flex justify-center">
                <button id="login-tab" onclick="redirectToLogIn()" class="px-4 py-2 font-semibold text-gray-800 border-b-4 border-blue-500">Login</button>
                <button id="signup-tab" onclick="redirectToSignUp()" class="px-4 py-2 font-semibold text-gray-500">Sign Up</button>
            </div>
        </div>
        <div id="login-form">
            <form th:action="@{/loginrequest}" method="post">
                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide=user class="w-4 h-4 mr-2"></i>
                    <input type="text" name="username" class="grow" placeholder="Username"/>
                </label>
                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide="key" class="w-4 h-4 mr-2"></i>
                    <input type="password" name="password" class="grow" placeholder="password"/>
                </label>

                <div class="text-right mb-4">
                    <a href="#" class="text-sm text-blue-500 hover:underline cursor-pointer">I forgot my password</a>
                </div>
                <button type="submit"
                        class="flex items-center justify-center w-full px-4 py-2 bg-white text-gray-800 font-semibold border border-gray-300 rounded-full shadow-sm hover:bg-teal-300">
                    Log in
                </button>
                <div th:if="${error != null}" class="text-red-500 text-sm mb-4">
                    <p th:text="${error}">Invalid username or password</p>
                </div>
            </form>
            <div class="text-center mt-2">
                <div class="flex items-center my-4">
                    <div class="flex-grow border-t border-gray-300"></div>
                    <span class="text-gray-500 text-sm px-4">Or by</span>
                    <div class="flex-grow border-t border-gray-300"></div>
                </div>
                <div class="flex justify-center mt-4 space-x-4">
                    <button class="flex items-center justify-center w-full max-w-xs px-4 py-2 bg-white text-gray-800 font-semibold border border-gray-300 rounded-full shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400">
                        <img th:src="@{/svg/google.svg}" alt="Google logo" class="w-5 h-5 mr-3">
                        Continue with Google
                    </button>
                </div>
            </div>
            <div class="text-center mt-6">
                <p class="text-gray-500 text-sm">Don't have an account?</p>
                <a class="text-sm text-blue-500 hover:underline cursor-pointer"
                   onclick="redirectToSignUp()" >
                    Create an account
                </a>
            </div>
        </div>

        <div id="signup-form" class="hidden ">
            <form>
                <div class="flex gap-4 mb-2">
                    <label class="input input-bordered flex items-center gap-2 grow">
                        <i data-lucide="skull" class="w-4 h-4 mr-2"></i>
                        <input type="text" id="name" class="grow" placeholder="Name" />
                    </label>
                    <label class="input input-bordered flex items-center gap-2 grow">
                        <i data-lucide=user class="w-4 h-4 mr-2"></i>
                        <input type="text" id="user-name" class="grow" placeholder="Username" />
                    </label>
                </div>
                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide="mail" class="w-4 h-4 mr-2"></i>
                    <input type="text" id="mail" class="grow" placeholder="Email" />
                </label>
                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide="phone" class="w-4 h-4 mr-2"></i>
                    <input type="text" id="phone" class="grow" placeholder="Phone" />
                </label>

                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide="key" class="w-4 h-4 mr-2"></i>
                    <input type="password" class="grow" placeholder="Password" />
                </label>
                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide="map-pin" class="w-4 h-4 mr-2"></i>
                    <input type="text" id="address" class="grow" placeholder="Address" />
                </label>

                <label class="input input-bordered flex items-center gap-2 mb-2">
                    <i data-lucide="calendar" class="w-4 h-4 mr-2"></i>
                    <input type="date" id="dob" placeholder="DD/MM/YYYY"
                           class="grow" />
                </label>

                <label class="input input-bordered flex items-center gap-2 mb-4">
                    <i data-lucide="key" class="w-4 h-4 mr-2"></i>
                    <select id="gender" name="gender" class="w-full px-4 py-2  rounded-lg focus:outline-none">
                        <option value="false">Male</option>
                        <option value="true">Female</option>
                    </select>
                </label>
                <button type="submit"
                        class="flex items-center justify-center w-full px-4 py-2 mt-3 bg-white text-gray-800 font-semibold border border-gray-300 rounded-full shadow-sm hover:bg-teal-300"
                        onclick="checkSignup()">
                    Sign up
                </button>
            </form>
            <div class="text-center mt-2">
                <div class="flex items-center my-4">
                    <div class="flex-grow border-t border-gray-300"></div>
                    <span class="text-gray-500 text-sm px-4">Or by</span>
                    <div class="flex-grow border-t border-gray-300"></div>
                </div>
                <div class="flex justify-center mt-4 space-x-4">
                    <button class="flex items-center justify-center w-full max-w-xs px-4 py-2 bg-white text-gray-800 font-semibold border border-gray-300 rounded-full shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400">
                        <img th:src="@{/svg/google.svg}" alt="Google logo" class="w-5 h-5 mr-3">
                        Continue with Google
                    </button>
                </div>
            </div>
            <div class="text-center mt-6">
                <p class="text-gray-500 text-sm">Have an account?</p>
                <a class="text-sm text-blue-500 hover:underline cursor-pointer"
                         onclick="redirectToLogIn()">
                    Log in
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="/components/lucide_icons :: lucide_icon"></div>
<script>
    window.onload = function() {
        if (window.location.pathname === "/signup") {
            showSignUp();
        } else {
            showLogin();
        }
    };
    function  showLogin () {
        //if (event) event.preventDefault(); // Ngừng sự kiện mặc định
        document.getElementById('login-form').classList.remove('hidden');
        document.getElementById('signup-form').classList.add('hidden');
        document.getElementById('login-tab').classList.add('text-gray-800', 'border-b-4', 'border-blue-500');
        document.getElementById('login-tab').classList.remove('text-gray-500');
        document.getElementById('signup-tab').classList.remove('text-gray-800', 'border-b-4', 'border-blue-500');
        document.getElementById('signup-tab').classList.add('text-gray-500');
        document.title = "Đăng nhập";
    }

    function showSignUp () {
        // Thực thi hàm để hiển thị form đăng ký
        document.getElementById('signup-form').classList.remove('hidden');
        document.getElementById('login-form').classList.add('hidden');
        document.getElementById('signup-tab').classList.add('text-gray-800', 'border-b-4', 'border-blue-500');
        document.getElementById('signup-tab').classList.remove('text-gray-500');
        document.getElementById('login-tab').classList.remove('text-gray-800', 'border-b-4', 'border-blue-500');
        document.getElementById('login-tab').classList.add('text-gray-500');
        document.title = "Đăng ký tài khoản";
    }

    function redirectToSignUp() {
        // Gọi showSignUp trước khi thay đổi URL
        showSignUp();

        // Sử dụng history.pushState để thay đổi URL mà không tải lại trang
        history.pushState(null, '', '/signup');
    }
    function redirectToLogIn() {
        // Gọi showSignUp trước khi thay đổi URL
        showLogin();

        // Sử dụng history.pushState để thay đổi URL mà không tải lại trang
        history.pushState(null, '', '/login');
    }
</script>
</body>
</html>